:root {
    --transition: all 0.1s linear;
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.cardRating {
    background: #fff;
    border-radius: 40px;
    box-shadow: var(--light-shadow);
    transition: var(--transition);

    height: 150px;
    width: 100%;
    margin-top: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardRating:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cardRating p {
    font-weight: 500;
}

.dataWrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    height: auto;

    margin: 0 -8px;
}


.place {
    width: 70px;
    text-align: center;
    padding: 0 8px;
}

.imageWrapper {
    width: 200px;
    height: 100px;
    padding: 0 8px;
}

.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.name {
    padding: 0 8px;
}
