.container {
    padding: 0 0.5rem;
}

.filtration {
    display: flex;
    flex: 1 1 1170px;
}

.searchForm {
    display: flex;
    width: 70%;
    margin-left: 10px;
}

.gridWrapper {
    padding: 1.7rem 0rem;
}

@media (max-width: 1000px) {
    .filtration {
        flex-direction: column;
    }
    .searchForm {
        margin-left: 0px;
        width: 100%;
    }
}

.loaderWrapper {
    display: flex; 
    justify-content: center;
    margin-top: 50px;
}